:root {
    --primary-color:#2e2e2e;
    --secondary-color: #333333;
    --accent-color: #C7C7C7;
    --accent2-color: #006f64;
}



/*=====global style =====*/
body {
    margin: 0;
}


* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

h2{
    font-weight: 600;
    color: var(--accent2-color);
}
h4 {
    font-weight: 600;
    color: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}


.bg-primary-color {
    background-color: var(--primary-color);
}

.box-shadow {
    box-shadow: 0 1px 10px var(--accent2-color);
}


/*====== landing page ======*/


#landing-page {
    position: relative;
    min-height: 100vh;
    background-image: url(./images/pic14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

nav{
    opacity: .99;
}

.navbar-brand {
    color: var(--accent-color);
}

.navbar-brand:hover {
    color: var(--accent2-color);
}

.nav-link {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: var(--accent-color);
    transition: border-bottom 1s, color 1s;
}

.nav-link:hover {
    color: var(--accent2-color);*
    border-bottom: 2px solid var(--accent2-color);
}
#navbarNav .nav-active{
    color: var(--accent2-color);
     border-bottom: 2px solid var(--accent2-color);
}


#hero h1,
#hero h2 {
    color: var(--accent-color);
    font-family: 'Roboto Mono', monospace;
    font-size: 2.2rem;
}



#hero p {
    color: var(--accent-color);
    font-size: 1.2rem;
    font-weight: bold;
      text-shadow: 1px 1px var(--accent2-color);
}
#hero span{
    color: var(--accent2-color);
}

#bg-layer {
    background-color: rgb(0, 0, 0, 0.5);
    min-height: 100vh;
}

#hero {
    position: absolute;
    top: 4.7rem;
    width: 100%;
    color: white;
    padding: .2rem;
    margin-top: 10rem;
}



/*====== about section =======*/


#about-section {
    min-height: 100vh;
    padding: 5rem 1rem;
    color: var(--accent-color);
    background-color: #2e2e2e;

}
#paragraph-container{
   box-shadow: 0px 5px 8px 10px #262626;
    padding-top: 1rem;
    border-radius: .5rem;
     margin-top: 1rem;
     background-color: #2e2e2e;

}


/*===== project section =====*/

#project-section {
    min-height: 100vh;
    padding: 5rem 1rem;
}
#myPhoto {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 5px 8px 10px #262626;
}

#zuitt-proj-container .row .card:hover{
     border: 2px solid var(--accent2-color);
}

#card-row {
    grid-row-gap: 2rem;

}

/*=== contact section ===*/

#contact-section {
    min-height: 80vh;
     padding: 5rem 1rem;
}

 #side-form{

   display:none;

}

footer {
    background-color: var(--primary-color);
}
footer a{
    text-decoration: none;
}




/*=== medium size screen ===*/

@media only screen and (min-width: 768px) {

#hero{
    margin-top: 15rem;
}

#hero p {
    color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
      text-shadow: 1px 1px var(--accent2-color);
}
#hero span{
    color: var(--accent2-color);
}


#myPhoto {
    margin-top: 1rem;
    width: 200px;
}
#paragraph-container{
    padding: 1rem 3rem;
    width: 100px ;
}

#skill-logo{
    margin-top: 3rem;
    font-size: 2.5rem;
}
#skill-items{
    width: 400px;
    margin: 0 auto;
}
#zuitt-proj-container{

}
#card-row {
    grid-row-gap: 2rem;

}
#card-row .col-md-6{
   padding: .5rem;
   height: 400px;
}
                    
.proj-img{
height: 130px;
}

#php-proj-items{
    grid-row-gap:4rem;
}
#php-proj-items img{
    display: block;
    width: 80%;
    margin: 0 auto;
}

#contact-container{
    width: 600px;
    margin: 0 auto;
}

footer .d-flex{
    padding: 1.3rem 0rem;
}


}




/*==== large to extra large screen ====*/

@media only screen and (min-width: 992px) {

#hero{
    margin-top: 5rem;
}

#hero p {
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: bold;
      text-shadow: 1px 1px var(--accent2-color);
}
#hero span{
    color: var(--accent2-color);
}

#about-grid{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
}


#myPhoto {
    margin-top: 0;
   width: 100%;
    border-radius: 1rem;

}

#paragraph-container{
    padding: 1rem 2rem;  
    margin: 0;
}

#skill-container{
    /*margin-top: 5rem;*/
}
#skill-logo{
    font-size: 3rem;
}
#skill-items{
    margin-top: 3rem;
  width:min(900px,1000px); 
}
#skill-container .lang-logo{
    max-width: 110px;
 
}

.proj-img{
height: 120px;

}

#contact-container{
    width: 850px;
    margin: 0 auto;
}

 #side-form{
   display:flex;
   flex-direction: column;

}

}




