:root{
    --primary-color: #323a45;
    --secondary-color:#D7E5E3;
    --accent-color: #398B84;

}

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

html{
   scroll-behavior: smooth;
}

#landing-page{
   position: relative;
}